torch>=2.0.0
torchaudio>=2.0.0
transformers>=4.30.0
gradio>=4.0.0
numpy>=1.21.0
accelerate>=0.20.0
huggingface-hub
soundfile
librosa
scipy
tqdm
requests
PyPDF2
beautifulsoup4
openai
PyYAML
einops
beartype
orjson
matplotlib
tensorboard
tensorboardX
debugpy
pesq
mir_eval
jiwer
s3prl
stopes
onnxscript
lion_pytorch
speechtokenizer