beartype
tensorboard
numpy
torch
torchaudio
einops
scipy
huggingface-hub
soundfile
matplotlib
lion_pytorch
accelerate
debugpy
tensorboardX
librosa
pesq
tqdm
mir_eval
stopes
s3prl
onnxscript
jiwer
orjson